@media only screen and (min-width: 1117px) {
	.AlamatCheckout {
		background-color: white;
		border-radius: 10px;
		width: 80vw;
		display: flex;
		flex-direction: column;
		padding: 0% 1% 1% 1%;
		margin: auto;
		margin-top: 3%;
	}
	
	.AlamatCheckout-Header {
		border-bottom: 4px solid #F8F8FF;
	}
	
	.AlamatCheckout-Header h2 {
		width: 100%;
		display: flex;
		align-items: center;
	}
	
	.AlamatCheckout-Alamat {
		display: flex;
		flex-direction: row;
	}
	
	.Admin {
		width: 10%;
		display: flex;
		justify-content: center;
	}
	
	.Alamat {
		width: 90%;
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 567px) {
	.AlamatCheckout {
		background-color: white;
		border-radius: 10px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		padding: 0% 1% 1% 1%;
		margin: auto;
		margin-top: 3%;
	}
	
	.AlamatCheckout-Header {
		border-bottom: 4px solid #F8F8FF;
	}
	
	.AlamatCheckout-Header h2 {
		font-size: 1.2em;
		display: flex;
		align-items: center;
	}

	.AlamatCheckout-Header h2 img {
		width: 7%;
	}
	
	.AlamatCheckout-Alamat {
		display: flex;
		flex-direction: row;
	}
	
	.Admin {
		width: 20%;
		display: flex;
		justify-content: center;
	}
	
	.Alamat {
		width: 80%;
		display: flex;
		justify-content: center;
	}

	.Alamat p, .Admin p {
		font-size: 0.9em;
	}
}