.CalculationCard {
	width: 80vw;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 3%;
	background-color: white;
	border-radius: 10px;
	padding: 2% 2% 1% 2%;
}

.Total {
	width: 100%;
	display: flex;
/*	flex-direction: column;*/
	justify-content: space-between;
	align-items: center;
}

.Total button {
	width: 16%;
	height: 6vh;
	background-color: #386641;
	color: #A7C957;
	border: 0;
}

.Product {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.Product img {
	margin-right: 3%;
}

th {
	background-color: #386641;
	color: #A7C957;
	border: 0;
}

td {
	border: 2px solid #386641;
	color: #386641;
}

td, th {
	padding: 1%;
	width: 10%;
	text-align: center;
	flex-wrap: wrap;
}

.CalcImage {
	width: 15%;
}