@media only screen and (min-width: 1117px) {
	.CardProduct {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80vw;
		height: 60vh;
		margin: auto;
		border-radius: 10px;
		background-color: white;
		margin-top: 3%;
	}
	
	.CardProduct-Layer1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 40%;
	}
	
	.Image-Product {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 50%;
	}
	
	.Image-Product img {
		width: 90%;
	}
	
	.Wishlist-Shortcut {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		transition: all 0.5s;
	}
	
	.Wishlist-Shortcut:hover {
		opacity: 0.3;
	}
	
	.Wishlist-Button {
		background-color: transparent;
		border: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		width: 50%;
	/*	height: 100%;*/
	}
	
	.CardProduct-Layer2 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 60%;
		height: 100%;
	}
	
	.CardProduct-Layer2 button {
		background-color: transparent;
		border-radius: 10px;
		border: 2px solid #A7C957;
		transition: all 0.5s;
	}
	
	.CardProduct-Layer2 button:hover {
		background-color: #A7C957;
		color: white;
	}
	
	.CardProduct-Contents {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	} 
	
	.CardProduct-Kuantitas {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 60%;
	}
	
	.CardProduct-Kuantitas button {
		width: 10%;
		height: 50%;
	}
	
	.CardProduct-Buttons {
		width: 70%;
		height: 15%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.CardProduct-Buttons button {
		width: 45%;
		height: 75%;
	}
	
	.Cart-Shortcut {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

@media only screen and (max-width: 567px) {
	.CardProduct {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 90vw;
		height: 80vh;
		margin: auto;
		border-radius: 10px;
		background-color: white;
		margin-top: 3%;
	}
	
	.CardProduct-Layer1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 30%;
		/* background-color: red; */
	}
	
	.Image-Product {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 50%;
	}
	
	.Image-Product img {
		width: 100%;
	}
	
	.Wishlist-Shortcut {
		display: none;
	}
	
	.CardProduct-Layer2 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		height: 70%;
		/* background-color: blue; */
	}

	.CardProduct-Layer2 button {
		font-size: 1.1em;
	}
	
	.CardProduct-Contents {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 5%;
		/* background-color: yellow; */
	} 
	
	.CardProduct-Kuantitas {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		/* background-color: blue; */
	}

	.CardProduct-Kuantitas button, .Cart-Shortcut {
		width: 10%;
		height: 50%;
		background-color: transparent;
		border: 2px solid #A7C957;
		transition: all 0.5s;
	}

	.CardProduct-Kuantitas button:hover, .Cart-Shortcut:hover {
		background-color: #A7C957;
		color: white;
	}

	.Kuantitas {
		display: none;
	}

	.Amount {
		display: none;
	}
	
	.CardProduct-Kuantitas button {
		width: 35%;
		height: 68%;
	}
	
	.CardProduct-Buttons {
		width: 100%;
		height: 25%;
		/* background-color: red; */
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	
	.CardProduct-Buttons button {
		width: 86%;
		height: 37%;
	}

	.Buy-Shortcut {
		color: #A7C957;
		background-color: #386641;
	}
}