.Card {
	width: 20vw;
	height: 35vh;
	transition: all 1s;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 8%;
	cursor: pointer;
	padding: 20px;
}

.Test {
	width: 50%;
	height: 60%;
	padding: 5px;
	background-color: #EEF4ED;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Card-Contents {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Card p {
	color: #386641;
	font-weight: bold;
}

.Card:hover {
	background-color: #A7C957;
	transform: translateY(20px);
}

.Card-Image {
	width: 65%;
}