.cart{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #1dac30;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 30px;
}
.beli{
    padding: 20px;
    background-color: rgba(238, 238, 238, 0.555);
    border-top: 1px solid #1dac30;
    /* border-radius: 8px; */
    text-align: right;
}
.imgcart{
    width: 10vw;
}
.dpseller{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.Cardcart{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.btncart{
    width: 20px;
    height: 20px;
}
.tabel-none{
    width: 100%;
    padding: 30px;
}
.imghapus{
    width: 3%;
}
.desctotal{
    padding: 10px;
}
.bgcart{
    background-color: #F8F8FF;
}

.namaseller{
    border-bottom: 1px solid #1dac30;   
    padding: 2%;
}
.tableproduct{
    /* width: 30%; */
    display: flex;
    margin-bottom: 15px;
}
.desctotal{
    text-align: center;
    margin: 100px;
    padding: 10px;
}
.checkboxcart{
    margin-top: 67px;
}
.namaprodcart{
    text-decoration: none;
}
.cartco{
    background-color: #1dac30;
    color: #F8F8FF;
    width: 15%;
    height: 5vh;
    border: #1dac30;
    border-radius: 8px;
}
.cartco:hover{
    background-color: #F8F8FF;
    color: #1dac30;
    transition: 0.5s;
    border: 1px solid #1dac30;
}
