.Home {
	display: flex;
	flex-direction: row;
}

.Home-Layer1 {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	background: linear-gradient(to bottom right, #F6FFF3, #FFFFFF);
}

.Home-Header1 {
	margin-bottom: 0px;
}

.Home-Header2 {
	font-size: 10em;
	margin-top: 0px;
	margin-bottom: 1%;
}

.Home-Description {
	margin-top: 0px;
	margin-bottom: 10%;
	padding-left: 0.5%;
}

.Home-Header1, .Home-Header2 {
	font-size: 4em;
}

.Home-Explorer {
	width: 20%;
	height: 40px;
	border-radius: 10px;
	border: 2px solid #A7C957;
	background-color: transparent;
	transition: all 0.5s;
}

.Home-Explorer:hover {
	color: white;
	background-color: #A7C957;;
}

.Home-Layer2 {
	width: 50%;
	background-size: cover;
	transform: scaleX(-1);
}

.Home-Layer2 img {
	width: 100%;
}