.Navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Navbar-Layer1 {
  width: 40%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Navbar-Layer2 {
  width: 30%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Navbar-Layer2 form {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SearchBar {
  width: 60%;
  height: 40%;
  padding-left: 5px;
  border: 2px solid #a7c957;
  background-color: transparent;
}

.Search {
  width: 55%;
}

.Navbar-Eternal {
  width: 200px;
}

.Navbar-Search {
  width: 30%;
  height: 40%;
  border: 2px solid #a7c957;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
}

.Navbar-Search:hover {
  opacity: 0.1;
}

.Navbar-Login,
.Navbar-Register {
  cursor: pointer;
}

.Navbar-Login {
  border: 0;
  background-color: transparent;
}

.Navbar-Register {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #a7c957;
  background-color: transparent;
  transition: all 0.5s;
}

.Navbar-Register:hover {
  color: white;
  background-color: #a7c957;
}
