@media only screen and (min-width: 1117px)  {
	.Reason {
		margin-top: 2%;
		width: 100%;
		height: 50vh;
		background-color: #386641;
	}
	
	.Reason-Card {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.Reason-Contents h1 {
		color: white;
	}
	
	.Reason-Points li {
		font-size: 1.5em;
		color: #A7C957;
		font-weight: bold;
	}
	
	.Reason-Points {
		padding-top: 3%;
		padding-left: 0;
		width: 70%;
		height: 40%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media only screen and (max-width: 567px) {
	.Reason {
		margin-top: 2%;
		width: 100%;
		height: 37vh;
		background-color: #386641;
	}
	
	.Reason-Card {
		padding-left: 3%;
		padding-right: 3%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	
	.Reason-Contents h1 {
		color: white;
		font-size: 1.4em
	}

	.Reason-Contents p {
		font-size: 1.1em
	}

	.Reason-Contents p br {
		display: none;
	}
	
	.Reason-Points li {
		font-size: 1em;
		color: #A7C957;
		font-weight: bold;
	}
	
	.Reason-Points {
		width: 70%;
		height: 30%;
	}

	.Reason-Image {
		display: none;
	}
}