.riwayat-beli {
  width: 95%;
  height: 70vh;
  /* background-color: cadetblue; */
  margin: auto;
  margin-top: -0.5vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-product {
  width: 100%;
  background-color: rgba(163, 163, 163, 0.221);
  margin: auto;
  height: 16vh;
  display: flex;
  flex-direction: row;
  /* border-radius: 75px; */
}

.product-img {
  width: 20%;
  /* border-radius: 30px; */
}

.tag {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.hide {
  display: none;
}

Text {
  font-family: "Quicksand", sans-serif;
}
