.Signup{
  color: #4d9f3d;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}
.bglogindftr{
  height: 100vh;
  width: 100%;
  float: left;
}
.apadftr {
  left: 0px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  width: 40%;
  /* background-color: black; */
  box-shadow: 0px -83px 147px 50px rgba(12,75,46,0.75) inset;
  -webkit-box-shadow: 0px -83px 147px 50px rgba(12,75,46,0.75) inset;
  -moz-box-shadow: 0px -83px 147px 50px rgba(12,75,46,0.75) inset;
  position: absolute;
}
.colomndftr{
  width: 40%;
}
.isi3{
  background-color: #0c4b2e;
  width: 60%;
  height: 100vh;
  float: right;
}
.isi4{
  margin: auto;
  width: 50%;
  /* height: 40%; */
  line-height: 8vh;
  border-radius: 8px;
  background-color: #65a75877;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.gender{
  width: 5%;
  height: 30%;
  border-radius: 5px;
  border: 0;
}
.dftr{
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: 0;
  padding-left: 1%;
}
.btnsignup{
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #4d9f3d8a;
  color: white;
  font-weight: 150;
}  
.btnsignup:hover {
  background-color: white;
  color: #4E9F3D;
  border: 3px solid #4E9F3D;
  transition: 0.3s;
} 
.logonama{
  width: 100%;
}
.logonamadftr img{
  width: 200px;
  object-fit: cover;
}
.logonamadftr{
  display: flex;
  flex-direction: row;
  justify-content: center;
}