.topup-div {
  /* background-color: #c4f1f9; */
  width: 70vw;
  height: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  width: 100%;
  background-color: #f0fff4;
}

.hide {
  display: none;
}
